In [4]:
import pandas as pd

In [5]:
# read file and show table's 5 first informations with head 
df = pd.read_excel('data_cli.xlsx')
df.head(10)

,ProdutoID,Produto,VendasID,Vendedor,Quantidade,Data,ValorUnitario,ValorTotal,Desconto,TotalComDesconto,ClienteID,Cliente,Estado,Sexo,Status
0,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,346,Iberê Lacerda,2,2016-11-16,7966.80,15933.60,3186.7200,12746.8800,219,Honorina Camarinho,PR,F,Silver
1,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,397,Capitolino Bahía,1,2016-12-23,7524.20,7524.20,2859.1960,4665.0040,65,Carlos Murici,MG,M,Silver
2,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,399,Godo Capiperibe,1,2016-12-25,6771.78,6771.78,2437.8408,4333.9392,62,Capitolina Ruela,PI,F,Silver
3,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,292,Jéssica Castelão,2,2016-09-29,6771.78,13543.56,2437.8408,11105.7192,5,Adélio Lisboa,SE,M,Silver
4,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,379,Jéssica Castelão,1,2016-12-11,7524.20,7524.20,2407.7440,5116.4560,75,Celestino Pereira,RS,M,Silver
5,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,377,Simão Rivero,1,2016-12-10,8852.00,8852.00,2390.0400,6461.9600,200,Gonçalo Figueiró,PI,M,Silver
6,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,389,Napoleão Méndez,1,2016-12-19,8852.00,8852.00,2390.0400,6461.9600,148,Eusébio Bairros,SP,M,Silver
7,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,286,Tobias Furtado,2,2016-09-26,7524.20,15048.40,2257.2600,12791.1400,145,Ester Castanho,AC,F,Silver
8,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,393,Godo Capiperibe,1,2016-12-21,6771.78,6771.78,2234.6874,4537.0926,168,Flamínia Miera,MT,F,Silver
9,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,334,Hélio Liberato,1,2016-11-05,8852.00,8852.00,2035.9600,6816.0400,141,Epaminondas Sousa de Arronches,MS,M,Silver

In [21]:
# information with type, column names and nn value
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ProdutoID         940 non-null    int64
 1   Produto           940 non-null    object
 2   VendasID          940 non-null    int64
 3   Vendedor          940 non-null    object
 4   Quantidade        940 non-null    int64
 5   Data              940 non-null    datetime64[ns]
 6   ValorUnitario     940 non-null    float64
 7   ValorTotal        940 non-null    float64
 8   Desconto          940 non-null    float64
 9   TotalComDesconto  940 non-null    float64
 10  ClienteID         940 non-null    int64
 11  Cliente           940 non-null    object
 12  Estado            940 non-null    object
 13  Sexo              940 non-null    object
 14  Status            940 non-null    object
dtypes: datetime64[ns](1), float64(4), int64(4), object(6)
memory usage: 110.3+ KB

In [22]:
# filtering by types
df.select_dtypes(exclude=int)

,Produto,Vendedor,Data,ValorUnitario,ValorTotal,Desconto,TotalComDesconto,Cliente,Estado,Sexo,Status
0,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,Iberê Lacerda,2016-11-16,7966.80,15933.60,3186.7200,12746.8800,Honorina Camarinho,PR,F,Silver
1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,Capitolino Bahía,2016-12-23,7524.20,7524.20,2859.1960,4665.0040,Carlos Murici,MG,M,Silver
2,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,Godo Capiperibe,2016-12-25,6771.78,6771.78,2437.8408,4333.9392,Capitolina Ruela,PI,F,Silver
3,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,Jéssica Castelão,2016-09-29,6771.78,13543.56,2437.8408,11105.7192,Adélio Lisboa,SE,M,Silver
4,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,Jéssica Castelão,2016-12-11,7524.20,7524.20,2407.7440,5116.4560,Celestino Pereira,RS,M,Silver
...,...,...,...,...,...,...,...,...,...,...,...
935,Camiseta Predactor 3Xu Multiplied,Daniel Pirajá,2016-02-10,121.50,121.50,0.0000,121.5000,Diogo Simón,BA,M,Silver
936,Camiseta Predactor 3Xu Multiplied,Daniel Pirajá,2016-02-24,121.50,121.50,0.0000,121.5000,Davide Alcántara,MA,M,Silver
937,Camiseta Predactor 3Xu Multiplied,Napoleão Méndez,2016-02-21,114.75,114.75,0.0000,114.7500,Anna Beça,AP,F,Silver
938,Camiseta Predactor 3Xu Multiplied,Hélio Liberato,2016-02-24,114.75,114.75,0.0000,114.7500,Brígida Gusmão,DF,F,Silver
939,Camiseta Predactor 3Xu Multiplied,Capitolino Bahía,2016-02-12,91.80,91.80,0.0000,91.8000,Dinarte Marino,MS,F,Silver

In [23]:
# lines/columns quantity
df.shape

(940, 15)

In [24]:
# statistics information
df.describe().transpose()

,count,mean,min,25%,50%,75%,max,std
ProdutoID,940.0,6.02234,1.0,3.0,6.0,9.0,10.0,2.946547
VendasID,940.0,199.055319,1.0,100.0,199.0,296.0,400.0,115.229267
Quantidade,940.0,1.12766,1.0,1.0,1.0,1.0,2.0,0.333888
Data,940,2016-06-30 00:21:26.808510720,2016-01-01 00:00:00,2016-03-23 00:00:00,2016-07-04 00:00:00,2016-10-06 00:00:00,2016-12-28 00:00:00,NaN
ValorUnitario,940.0,2692.917287,70.38,121.5,2009.4,4816.885,9201.0,3083.392885
ValorTotal,940.0,3249.109287,70.38,124.0,2009.4,6019.36,18402.0,4109.234353
Desconto,940.0,371.740484,0.0,7.33125,32.3754,422.30875,6256.68,716.149123
TotalComDesconto,940.0,2877.368803,53.4888,112.602,1507.1469,5319.5531,18217.98,3671.527586
ClienteID,940.0,125.418085,1.0,63.0,115.0,190.0,249.0,72.247037

In [25]:
df.index

RangeIndex(start=0, stop=940, step=1)

In [26]:
# selecting columns (need to put on a list)
df.loc[:, 'Sexo']

0      F
1      M
2      F
3      M
4      M
      ..
935    M
936    M
937    F
938    F
939    F
Name: Sexo, Length: 940, dtype: object

In [27]:
# selecting information corresponding to a row with the corresponding column
df.iloc[1:5]

,ProdutoID,Produto,VendasID,Vendedor,Quantidade,Data,ValorUnitario,ValorTotal,Desconto,TotalComDesconto,ClienteID,Cliente,Estado,Sexo,Status
1,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,397,Capitolino Bahía,1,2016-12-23,7524.20,7524.20,2859.1960,4665.0040,65,Carlos Murici,MG,M,Silver
2,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,399,Godo Capiperibe,1,2016-12-25,6771.78,6771.78,2437.8408,4333.9392,62,Capitolina Ruela,PI,F,Silver
3,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,292,Jéssica Castelão,2,2016-09-29,6771.78,13543.56,2437.8408,11105.7192,5,Adélio Lisboa,SE,M,Silver
4,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,379,Jéssica Castelão,1,2016-12-11,7524.20,7524.20,2407.7440,5116.4560,75,Celestino Pereira,RS,M,Silver

In [28]:
# filtering with mask
df[~df.Estado.isin(['SP', 'RJ'])] #negative (˜)
df[df.Estado.isin(['SP', 'RJ'])]

,ProdutoID,Produto,VendasID,Vendedor,Quantidade,Data,ValorUnitario,ValorTotal,Desconto,TotalComDesconto,ClienteID,Cliente,Estado,Sexo,Status
6,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,389,Napoleão Méndez,1,2016-12-19,8852.00,8852.00,2390.0400,6461.9600,148,Eusébio Bairros,SP,M,Silver
30,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,261,Simão Rivero,1,2016-08-31,7966.80,7966.80,1035.6840,6931.1160,25,Andreia Carvalhal,SP,F,Silver
54,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,114,Hélio Liberato,1,2016-04-13,7966.80,7966.80,239.0040,7727.7960,191,Gisela Bahia,SP,F,Silver
57,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,121,Iberê Lacerda,1,2016-04-17,8852.00,8852.00,177.0400,8674.9600,47,Belmira Colaço,RJ,F,Silver
75,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,55,Capitolino Bahía,1,2016-02-11,7966.80,7966.80,0.0000,7966.8000,191,Gisela Bahia,SP,F,Silver
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878,10,Camiseta Predactor 3Xu Multiplied,200,Daniel Pirajá,1,2016-07-05,135.00,135.00,9.4500,125.5500,47,Belmira Colaço,RJ,F,Silver
883,10,Camiseta Predactor 3Xu Multiplied,142,Hélio Liberato,1,2016-05-05,114.75,114.75,8.0325,106.7175,191,Gisela Bahia,SP,F,Silver
909,10,Camiseta Predactor 3Xu Multiplied,122,Daniel Pirajá,1,2016-04-18,135.00,135.00,2.7000,132.3000,47,Belmira Colaço,RJ,F,Silver
914,10,Camiseta Predactor 3Xu Multiplied,121,Iberê Lacerda,1,2016-04-17,114.75,114.75,2.2950,112.4550,47,Belmira Colaço,RJ,F,Silver
916,10,Camiseta Predactor 3Xu Multiplied,114,Hélio Liberato,1,2016-04-13,108.00,108.00,2.1600,105.8400,191,Gisela Bahia,SP,F,Silver

In [29]:
# columns name
df.columns.tolist()

['ProdutoID',
 'Produto',
 'VendasID',
 'Vendedor',
 'Quantidade',
 'Data',
 'ValorUnitario',
 'ValorTotal',
 'Desconto',
 'TotalComDesconto',
 'ClienteID',
 'Cliente',
 'Estado',
 'Sexo',
 'Status']

In [30]:
# dropping null values
df.dropna(axis='columns')

,ProdutoID,Produto,VendasID,Vendedor,Quantidade,Data,ValorUnitario,ValorTotal,Desconto,TotalComDesconto,ClienteID,Cliente,Estado,Sexo,Status
0,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,346,Iberê Lacerda,2,2016-11-16,7966.80,15933.60,3186.7200,12746.8800,219,Honorina Camarinho,PR,F,Silver
1,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,397,Capitolino Bahía,1,2016-12-23,7524.20,7524.20,2859.1960,4665.0040,65,Carlos Murici,MG,M,Silver
2,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,399,Godo Capiperibe,1,2016-12-25,6771.78,6771.78,2437.8408,4333.9392,62,Capitolina Ruela,PI,F,Silver
3,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,292,Jéssica Castelão,2,2016-09-29,6771.78,13543.56,2437.8408,11105.7192,5,Adélio Lisboa,SE,M,Silver
4,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,379,Jéssica Castelão,1,2016-12-11,7524.20,7524.20,2407.7440,5116.4560,75,Celestino Pereira,RS,M,Silver
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,10,Camiseta Predactor 3Xu Multiplied,52,Daniel Pirajá,1,2016-02-10,121.50,121.50,0.0000,121.5000,120,Diogo Simón,BA,M,Silver
936,10,Camiseta Predactor 3Xu Multiplied,69,Daniel Pirajá,1,2016-02-24,121.50,121.50,0.0000,121.5000,105,Davide Alcántara,MA,M,Silver
937,10,Camiseta Predactor 3Xu Multiplied,66,Napoleão Méndez,1,2016-02-21,114.75,114.75,0.0000,114.7500,27,Anna Beça,AP,F,Silver
938,10,Camiseta Predactor 3Xu Multiplied,70,Hélio Liberato,1,2016-02-24,114.75,114.75,0.0000,114.7500,58,Brígida Gusmão,DF,F,Silver
939,10,Camiseta Predactor 3Xu Multiplied,56,Capitolino Bahía,1,2016-02-12,91.80,91.80,0.0000,91.8000,115,Dinarte Marino,MS,F,Silver

In [6]:
# dropping duplicates values
df.drop_duplicates('Produto')

,ProdutoID,Produto,VendasID,Vendedor,Quantidade,Data,ValorUnitario,ValorTotal,Desconto,TotalComDesconto,ClienteID,Cliente,Estado,Sexo,Status
0,1,Bicicleta Aro 29 Mountain Bike Endorphine 6.3 ...,346,Iberê Lacerda,2,2016-11-16,7966.80,15933.60,3186.720,12746.880,219,Honorina Camarinho,PR,F,Silver
82,2,Bicicleta Altools Stroll Aro 26 Freio À Disco ...,400,Iberê Lacerda,2,2016-12-28,9201.00,18402.00,6256.680,12145.320,224,Humberto Almeida,AC,M,Silver
164,3,Bicicleta Gts Advanced 1.0 Aro 29 Freio Disco ...,336,Hélio Liberato,2,2016-11-07,4255.00,8510.00,2467.900,6042.100,3,Adolfo Patrício,PE,M,Silver
239,4,Bicicleta Trinc Câmbios Shimano Aro 29 Freio A...,395,Tobias Furtado,2,2016-12-22,6892.20,13784.40,5100.228,8684.172,42,Artur Macedo,SE,M,Silver
312,5,Bicicleta Gometws Endorphine 7.3 - Shimano Alu...,379,Jéssica Castelão,2,2016-12-11,2966.00,5932.00,2313.480,3618.520,75,Celestino Pereira,RS,M,Silver
398,6,Bicicleta Gometws Endorphine 6.1 Shimano Alumí...,398,Armando Lago,2,2016-12-24,2511.75,5023.50,1306.110,3717.390,238,Iraci Alcoforado,MS,F,Silver
473,7,Capacete Gometws Endorphine 2.0,374,Armando Lago,2,2016-12-05,118.58,237.16,71.148,166.012,5,Adélio Lisboa,SE,M,Silver
573,8,Luva De Ciclismo - Gometws Sports,398,Armando Lago,1,2016-12-24,159.80,159.80,63.920,95.880,238,Iraci Alcoforado,MS,F,Silver
688,9,Bermuda Predactor 3Xu Pro,397,Capitolino Bahía,1,2016-12-23,115.00,115.00,43.700,71.300,65,Carlos Murici,MG,M,Silver
810,10,Camiseta Predactor 3Xu Multiplied,341,Capitolino Bahía,2,2016-11-12,114.75,229.50,64.260,165.240,78,Cid Pardo,AL,M,Silver